html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  padding-right: 0px !important;
}

.DraftEditor-editorContainer {
  min-height: 150px !important;
  border: 1px solid grey !important;
}
