/* .trendposition {
  position: fixed;
} */

.iconpointer {
  cursor: pointer;
}
.iconpointer:hover {
  color: #2980b9 !important;
}

.backicon {
  font-size: 30px;
  margin-bottom: 5px;
}
.backicon:hover {
  color: #2980b9;
  cursor: pointer;
}
.time {
  font-size: 25px;
  margin-bottom: 5px;
}

.listitem {
  cursor: pointer;
}
.listitem:hover {
  text-decoration: underline;
}
.trendposition {
  position: fixed;
}

.hashtagfix:hover {
  cursor: pointer;
  text-decoration: underline;
}
.rowfix {
  min-height: 50px;
}

.suggestion_box {
  flex-basis: 40%;
  min-height: 150px;
  background-color: transparent;
}
.inner_suggestion_box {
  height: 150px;
  overflow: auto;
  font-size: 0.9em;
}

.suggestion_list {
  cursor: pointer;
  padding: 1px;
}
.twitt_error {
  color: red;
  font-size: 14px;
}
.textarea {
  flex-basis: 60%;
  word-break: break-all;
}
.suggestion_list:hover {
  background-color: #70a1ff !important;
  color: white;
}
/* .cardfix {
  width: 80% !important;
} */
/* .cardview {
  padding-left: calc(100vw - 100%);
} */

/* @media (max-width: 992px) {
  .cardview {
    margin-left: 30px;
  }
} */
@media (max-width: 578px) {
  .iconpointer {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1;
  }
  .trendposition {
    position: static !important;
    width: 80% !important;
  }
  .mobilefix {
    position: sticky !important;
    top: 0;
  }
  .cardfix {
    width: 80%;
    margin: auto;
    z-index: -1;
  }
  .buttonfix {
    width: 80% !important;
    margin: auto;
  }

  /* .cardview {
    z-index: -1 !important;
  }

  .trendposition {
    position: none;
  }
  .fixccontainer {
    margin: 0px !important;
  }
  .trendposition2 {
    position: sticky;
    top: 0;
  } */
}
